<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leapmotor.lputils">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <provider
            android:name=".utils.LpUtilsFileProvider"
            android:authorities="${applicationId}.lputils.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/util_code_provider_paths" />
        </provider>
    </application>
</manifest>